## (Whatâ€™s Wrong with This Code?)

In [2]:

#Unpcaked without the same number of elements
day, high_temperature = ('Monday', 87, 65)

ValueError: too many values to unpack (expected 2)

In [3]:

#numbers[10] element that is not in numbers
numbers = [1, 2, 3, 4, 5]
numbers[10]

IndexError: list index out of range

In [4]:

#You can not change the object
name = 'amanda' 
name[0] = 'A'

TypeError: 'str' object does not support item assignment

In [5]:

#Index must be integer
numbers = [1, 2, 3, 4, 5] 
numbers[3.4]

TypeError: list indices must be integers or slices, not float

In [6]:

#A tuple cannot be modified
student_tuple = ('Amanda', 'Blue', [98, 75, 87]) 
student_tuple[0] = 'Ariana'

TypeError: 'tuple' object does not support item assignment

In [7]:

#You cannot concatenate to different type of elements
('Monday', 87, 65) + 'Tuesday'

TypeError: can only concatenate tuple (not "str") to tuple

In [8]:

#You cannot sum a string
'A' += ('B', 'C')

SyntaxError: cannot assign to literal (<ipython-input-8-28ff9932e136>, line 2)

In [9]:

#del x erase the variable x
x = 7
del x
print(x)

NameError: name 'x' is not defined

In [10]:

#There is no element 10
numbers = [1, 2, 3, 4, 5]
numbers.index(10)

ValueError: 10 is not in list

In [11]:

#extend can only take one element
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)

TypeError: extend() takes exactly one argument (3 given)

In [12]:

#There is no element 10
numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

ValueError: list.remove(x): x not in list

In [13]:

#Cannot extract an element from an empty list
values = []
values.pop()

IndexError: pop from empty list

## (Whatâ€™s Does This Code Do?)

In [14]:

def mystery(sequence):
    '''It returns true if the sequence is sorted'''
    return sequence == sorted(sequence)

list1 = [4, 2, 5, 1, 3]
mystery(list1)         #False

list2 = [1, 2, 3, 4, 5]
mystery(list2)         #True

True

## (Fill in the Missing Code)

In [19]:

'''Converting inches to meters'''


[(x, x*0.0254) for x in [69, 77, 54]]

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

In [20]:
list(map(lambda x: (x,x*0.0254), [69, 77, 54]))

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

## (Iteration Order)

In [1]:




a = [[2, 4, 5], 
     [3, 0, -2]]

print(' ', end='  ')
for ind in range(0, len(a[1])):
    print(ind, sep='-', end='  ')
print('\n')

for row in range(0,len(a)):
    
    print(row, end='  ')
    for column in range(0,len(a[row])):
        print(a[row][column], end='  ')
    print('\n')

   0  1  2

0  2  4  5

1  3  0  -2

## (IPython Session: Slicing)

In [2]:

alphabet = 'abcdefghijklmnopqrstuvwxyz'

#(a)
alphabet[0:int(len(alphabet)/2)]

'abcdefghijklm'

In [3]:

#(b)
alphabet[:int(alphabet.index('z')/2)+1]

'abcdefghijklm'

In [4]:

#(c)
alphabet[13:len(alphabet)]

'nopqrstuvwxyz'

In [5]:

#(d)
alphabet[alphabet.index('n'):]

'nopqrstuvwxyz'

In [6]:

#(e)
alphabet[0::2]

'acegikmoqsuwy'

In [7]:

#(f)
alphabet[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [8]:

#(g)
alphabet[::-3]

'zwtqnkheb'

## (Functions Returning Tuples)

In [9]:

def rotate(index1, index2, index3):
    '''Returns a Tuple'''
    return (index3, index1, index2)

a = ('Doug', 22, 1984)
b = (22, 1984, 'Doug')
c = (1984, 'Doug', 22)

rotate(*a)

(1984, 'Doug', 22)

In [10]:
rotate(*b)

('Doug', 22, 1984)

In [11]:
rotate(*c)

(22, 1984, 'Doug')

## (Duplicate Elimination)

In [12]:

a = [4, 3, 2, 5, 6, 3, 4, 5, 6, 8, 9, 4, 5]
l = 'dreftsgfdf'

def dupli_elimination(lista):
    completos = []
    for i in range(len(lista)):
        
        if lista[i] not in completos:
            completos.append(lista[i])
          
    completos.sort()
    
    return completos

dupli_elimination(a)

[2, 3, 4, 5, 6, 8, 9]

In [13]:
dupli_elimination(l)

['d', 'e', 'f', 'g', 'r', 's', 't']

## (Sieve of Eratosthenes)

In [3]:




primes = [True for i in range(1001)]

print(len(primes))
idx = 2

while idx <= len(primes) - 1:
    
    primes[0] = False
    primes[1] = False
    
    if primes[idx] == True:
        
        for idx_2 in range( idx * 2, len(primes), idx ):
            primes[idx_2] = False
                
    
    idx += 1
    
list_p = []

for idx, i in enumerate(primes):
    
    if i == True:
        list_p += [idx]
        
print(list_p)

1001
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

## Palindrome Tester

In [30]:


def is_palindrome( string ):
    
    string = list(string)
    
    copystring = string.copy()
    
    
    pali = []
    
    for i in range(len(string)):
        
        p = string.pop()
        
        pali.append(p)
 
        
    pali = [letter.upper() for letter in pali]
    copystring = [letter.upper() for letter in copystring]
    
    if pali == copystring:
        return True
    
    else:
        return False

In [31]:
is_palindrome('Radar')

True

In [32]:
is_palindrome('TalePjd')

False

In [33]:

def is_palindrome_2( string ):
    
    string = [item.upper() for item in string]
    
    for i in range(len(string)//2):
        
        if string[i] != string[ -1- i]:
            
            return False
            break
        
        else:
            return True

In [36]:
is_palindrome_2('radaR')

True

In [37]:
is_palindrome_2('talepjd')

False

## (Anagrams)

## (Summarizing Letters in a String)

In [70]:

def summarize_letters( string ):
    
    string = [item.upper() for item in string]
    
    lista = []
    
    for i in range(len(string)):
        
        fre = 1
        
        for j in range(len(string)):
            
            if ( i != j and string[i] == string[j] ):
                
                fre += 1
            
        if (string[i], fre) not in lista:
            lista.append((string[i], fre))
            
    
    if len(lista) == 27:
        print('La palabra tiene todas las letras')
        

        
    return lista

In [74]:
summarize_letters('mnbvcxzÃ±lkjhgfdsaqwrtyuiophdjfhrgshdg')

[('M', 1),
 ('N', 1),
 ('B', 1),
 ('V', 1),
 ('C', 1),
 ('X', 1),
 ('Z', 1),
 ('Ã‘', 1),
 ('L', 1),
 ('K', 1),
 ('J', 2),
 ('H', 4),
 ('G', 3),
 ('F', 2),
 ('D', 3),
 ('S', 2),
 ('A', 1),
 ('Q', 1),
 ('W', 1),
 ('R', 2),
 ('T', 1),
 ('Y', 1),
 ('U', 1),
 ('I', 1),
 ('O', 1),
 ('P', 1)]

## (Telephone-Number Word Generator)

## (Is a Sequence Sorted?)

In [104]:

def is_ordered( lis_t ):
    
    ordr = sorted(lis_t)
    
    if lis_t == ordr:
        return True
    
    else:
        return False

In [105]:
is_ordered([1, 3, 4, 3, 5, 6, 2, 11, 1])

False

In [106]:
is_ordered([1, 2, 3, 3, 3, 4, 5, 6, 7, 8, 9, 10])

True

In [107]:
is_ordered((1, 3, 4, 2, 5, 7, 8, 11, 4, 2, 1))

False

## (Tuples Representing Invoices)