## Lists

In [1]:

c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

In [3]:
['Mary', 'Smith', 3.57, 2022]

['Mary', 'Smith', 3.57, 2022]

In [4]:
c[0]

-45

In [5]:
c[4]

1543

In [6]:
len(c)

5

In [7]:
a = 1
b = 2

In [8]:
c[a+b]

72

In [9]:
c[4] = 7

In [10]:
c

[-45, 6, 0, 72, 7]

In [11]:
s = 'hello'

In [12]:
len(s)

5

In [13]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [14]:
c[100]

IndexError: list index out of range

In [15]:
c[0] + c[1] + c[2]

-39

## Appending to a List with +=

In [17]:
a_list = []

for number in range(1, 6):
    a_list += [number]

a_list

[1, 2, 3, 4, 5]

In [18]:

letters = []


letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

## Concatenating Lists with +

In [19]:

list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

In [20]:
concatenated_list

[10, 20, 30, 40, 50]

## Using for and range to Access List Indices and Values

In [22]:

for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

## Comparison Operators

In [24]:

a = [1, 2, 3]
b = [1, 2, 3]

c = [1, 2, 3, 4]

a == b

True

In [25]:
a == c

False

In [26]:
a < c   #It compares the size of elements

True

In [27]:
c >= b  #It compares the size of elements

True

In [38]:

def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numeros)

In [37]:
numeros

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [41]:

characters = []

characters += 'Birthday'

characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

## Tuples

In [42]:

student_tuple = ()

student_tuple

()

In [43]:
len(student_tuple)

0

In [44]:
student_tuple = 'John', 'Green', 3.3

In [45]:
student_tuple

('John', 'Green', 3.3)

In [46]:
len(student_tuple)

3

In [47]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [48]:
another_student_tuple

('Mary', 'Red', 3.3)

In [52]:
a_singleton_tuple = ('red',)

In [53]:
a_singleton_tuple

('red',)

In [54]:
type(a_singleton_tuple)

tuple

## Accessing Tuple Elements

In [55]:

time_tuple = (9, 16, 1)

In [56]:
time_tuple

(9, 16, 1)

In [57]:
time_tuple[0]*3600 + time_tuple[1]*60 + time_tuple[2]

33361

## Adding Items to a String or Tuple

In [58]:

tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [59]:
tuple1 += (40, 50)

In [60]:
tuple1

(10, 20, 30, 40, 50)

In [61]:
tuple2

(10, 20, 30)

In [62]:
numbers = [1, 2, 3, 4, 5]

In [63]:
numbers += (6, 7)

In [64]:
numbers

[1, 2, 3, 4, 5, 6, 7]

## Tuples May Contain Mutable Objects

In [65]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [66]:
student_tuple[2][1] = 85

In [67]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [68]:
single_element = (123.45, )

In [69]:
type(single_element)

tuple

In [70]:

n = [1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

## Unpacking Sequences

In [71]:

student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

In [72]:
first_name

'Amanda'

In [73]:
grades

[98, 85, 87]

In [74]:

first, second = 'hi'

print(f'{first} {second}')

h i

In [75]:

number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

2 3 5

In [76]:
number1, number2, number3 = range(10, 40, 10)

In [77]:
print(f'{number1} {number2} {number3}')

10 20 30

In [79]:

number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

## Accessing Indices and Values Safely with Built-in Function enumerate

### The preferred mechanism for accessing an element’s index and value is the built-in function enumerate. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value. The following code uses the built-in function list to create a list containing enumerate’s results:

In [2]:

colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [3]:
type(enumerate(colors))

enumerate

In [82]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [83]:

for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

In [84]:

'''Dislplay a bar chart'''

numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

Creating a bar chart from numbers
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

In [85]:


high_low = ('Monday', 13, 25)

high_low[0]

'Monday'

In [87]:

print(f'{high_low[0]}: High={high_low[1]}, Low={high_low[2]}')

dayh, dayl = high_low

Monday: High=13, Low=25

ValueError: too many values to unpack (expected 2)

In [88]:


list_names = ['John', 'Temil', 'Khan']

for index, value in enumerate(list_names):
    print(f'{index}: {value}')

0: John
1: Temil
2: Khan

## Sequence Slicing

In [32]:

numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[2:6]

[5, 7, 11, 13]

In [33]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [34]:
numbers[6:]

[17, 19]

In [35]:
numbers[6:len(numbers)]

[17, 19]

In [36]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [37]:
#Each step is of two
numbers[::2]

[2, 5, 11, 17]

In [39]:
#Each step is in reverse order

numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [11]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [12]:

numbers[0:3] = ['two', 'three', 'five']

numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [15]:

#Delete the three first elements


numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[0:3] = []

numbers

[7, 11, 13, 17, 19]

In [16]:

#Change the elements

numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[::2] = [100, 100, 100, 100]

numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [17]:
id(numbers)

140486678558976

In [18]:

numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[:] = []

numbers

[]

In [19]:
id(numbers)

140486681093120

In [20]:

numbers = []

numbers

[]

In [21]:
id(numbers)

140486680730496

In [67]:


numbers_ex = []

for i in range(1, 16):
    numbers_ex += [i]

    
numbers_ex

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [80]:

numbers_ex = numbers_ex[::2]

numbers_ex

[1, 3, 5, 0, 0, 14]

In [81]:

numbers_ex = []

for i in range(1, 16):
    numbers_ex += [i]

    
numbers_ex

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [82]:

#We can operand between lists

a = [2, 3]

2*a


numbers_ex[5:10] = [0] * len(numbers_ex[5:10])

numbers_ex

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [88]:

numbers_ex = []

for i in range(1, 16):
    numbers_ex += [i]

    
numbers_ex

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [89]:

numbers_ex[5:] = []

In [90]:
numbers_ex

[1, 2, 3, 4, 5]

In [91]:
numbers_ex = []

In [92]:
numbers_ex

[]

## del Statement

In [94]:

numbers = list(range(0, 10))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:

#Individual elements
del numbers[-1]

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [96]:
#First two elements

del numbers[:2]

In [97]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [98]:
del numbers[::2]

In [99]:
numbers

[3, 5, 7]

In [103]:

numbers = list(range(1, 16))

numbers

del numbers[:4]

numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [104]:
del numbers[::2]

In [105]:
numbers

[6, 8, 10, 12, 14]

## Passing lists to Functions

### No matter how long the traceback is, the last line of code with ----> caused the exception.

In [109]:

def modify_elements(items):
    '''Multiplies all elements by two'''
    for i in range(len(items)):
        items[i] *= 2

        
numbers = [10, 3, 7, 1, 9]

In [110]:
modify_elements(numbers)

In [111]:
numbers

[20, 6, 14, 2, 18]

## Sorting Lists

### A common computing task called sorting enables you to arrange data either in ascending or descending order. Sorting is an intriguing problem that has attracted intense computer- science research efforts

In [112]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

numbers.sort()

In [113]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
numbers.sort(reverse=True)

In [115]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Built-in function sorted returns a new list containing the sorted elements of its argument sequence—the original sequence is unmodified.

In [117]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

asceding_numbers = sorted(numbers)

In [118]:
asceding_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [120]:

letters = 'fadgchjebi'

ascending_letters = sorted(letters)

In [121]:
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [122]:
letters

'fadgchjebi'

In [125]:

foods = ['Cookies', 'pizza', 'Grapes', 
         'apples', 'steak', 'Bacon']

foods.sort()

foods

#As you’ll see later in the chapter, strings are compared by their character’s numerical values, 
#not their letters, and the values of uppercase letters are lower than the values of lowercase letters.

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

## 5.9 Searching Sequences

### Often, you’ll want to determine whether a sequence (such as a list, tuple or string) contains a value that matches a particular key value. Searching is the process of locating a key.

In [126]:

numbers = [3, 7, 1, 4, 2, 8, 5, 6]

numbers.index(5)   #It returns the index at which the value 5 is (The first)

6

In [128]:

numbers *= 2

In [129]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [130]:

'''Often, you’ll want to determine whether a sequence (such as a list, tuple or string) 
contains a value that matches a particular key value. Searching is the process of locating a key.'''

numbers.index(5, 7)

14

In [132]:
'''Specifying the starting and ending indices causes 
index to search from the starting index up to but not including the ending index location. '''

numbers.index(5, 7, len(numbers))

numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [134]:

numbers.index(7, 0, 4)

1

## Operators in and not in

In [135]:

1000 in numbers

False

In [136]:
5 in numbers

True

In [137]:
1000 not in numbers

True

In [138]:
5 not in numbers

False

In [141]:

key = 1000

if key in numbers:
    print(f'foung {key} at index {numbers.index(numbers)}')
    
else:
    print(f'{key} not found')

1000 not found

NameError: name 'search_key' is not defined

In [144]:


list1 = [0, 1, 1, 0, 1]
list2 = [1, 1, 1, 1, 1]
list3 = [0, 0, 0, 0, 0]


print(all(list1))
print(any(list1))

False
True

In [145]:
print(all(list2))
print(any(list2))

True
True

In [147]:
print(all(list3))
print(any(list3))

False
False

In [148]:

ele = [67, 12, 46, 43, 13]

n1 = 43
n2 = 44

if n1 in ele:
    print(f'{n1} is at index {ele.index(n1)}')

else:
    print(f'{n1} is not in ele')
    
if n2 in ele:
    print(f'{n2} is at index {ele.index(n2)}')

else:
    print(f'{n2} is not in ele')

43 is at index 3
44 is not in ele

## Other lists Methods

In [1]:

color_names = ['orange', 'yellow', 'green']

In [2]:
# Method insert adds a new item at a specified index. 

color_names.insert(0, 'red')

In [3]:
color_names

['red', 'orange', 'yellow', 'green']

In [4]:
# You can add a new item to the end of a list with method append:

color_names.append('blue')

color_names

['red', 'orange', 'yellow', 'green', 'blue']

In [5]:
# Use list method extend to add all the elements of another sequence to the end of a list:

color_names.extend(['indigo', 'violet'])

In [6]:
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [7]:

sample_list = []

s = 'abc'

sample_list.extend(s)

sample_list

['a', 'b', 'c']

In [8]:

t = (1, 2, 3)

sample_list.extend(t)

In [9]:
sample_list

['a', 'b', 'c', 1, 2, 3]

In [10]:

# store a tuple directly to the list

sample_list.extend((4, 5, 6))

sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]


## Removing the First Occurrence of an Element in a List

In [11]:

color_names = ['red', 'orange', 'yellow', 'green', 'blue']

# Method remove deletes the first element with a specified value

color_names.remove('green')

In [12]:
color_names

['red', 'orange', 'yellow', 'blue']

In [13]:

# To delete all the elements in a list, call method clear

color_names.clear()

color_names

[]

In [16]:

# List method count searches for its argument and returns the number of times it is found:

respones = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3,
            1, 4, 3, 3, 3, 2, 3, 3, 2, 2]


for i in range(1, 6):
    print(f'{i} appears {respones.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

In [33]:

# List method reverse reverses the contents of a list in place, 
# rather than creating a reversed copy, as we did with a slice previously:


color_names = ['red', 'orange', 'yellow', 'green', 'blue']

color_names.reverse()

color_names

['blue', 'green', 'yellow', 'orange', 'red']

In [34]:

copied_list = color_names.copy()

In [35]:
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

In [36]:

rainbow = ['green', 'orange', 'violet']

In [37]:
rainbow.insert(rainbow.index('violet'), 'red')

rainbow

['green', 'orange', 'red', 'violet']

In [38]:

rainbow.append('yellow')
rainbow

['green', 'orange', 'red', 'violet', 'yellow']

In [39]:
rainbow.reverse()
rainbow

['yellow', 'violet', 'red', 'orange', 'green']

In [40]:
rainbow.remove('orange')
rainbow

['yellow', 'violet', 'red', 'green']

## Simulating Stacks with Lists

In [53]:

stack = []

In [54]:
stack.append('red')
stack

['red']

In [55]:
stack.append('green')
stack

['red', 'green']

In [56]:
stack.pop() #It removes the last element of a list

'green'

In [57]:

stack

['red']

In [58]:
stack.pop()

'red'

In [59]:
stack

[]

In [60]:
# You can run out of memory if you keep pushing items faster than you pop them.

## List Comprehensions

### List comprehensions can replace many for statements that iterate over existing sequences and create new lists, such as:

In [62]:

list1 = []

for item in range(1, 6):
    list1.append(item)

list1

[1, 2, 3, 4, 5]

### Using a List Comprehension to Create a List of Integers

In [63]:

list2 = [item for item in range(1, 6)]

list2

[1, 2, 3, 4, 5]

### Mapping: Performing Operations in a List Comprehension’s Expression

In [65]:
# Mapping is a common functional-style programming operation 
# that produces a result with the same number of elements as the original data being mapped.


list3 = [item**3 for item in range(1, 6)]

list3

[1, 8, 27, 64, 125]

### Filtering: List Comprehensions with if Clauses

In [66]:
#Another common functional-style programming operation is filtering elements
# to select only those that match a condition. 

list4 = [item for item in range(1, 11) if item%2 == 0]

list4

[2, 4, 6, 8, 10]

### List Comprehension That Processes Another List’s Elements

In [69]:

colors = ['red', 'orange', 'yellow', 'green', 'blue']

colors2 = [item.upper() for item in colors]

colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [70]:
colors

['red', 'orange', 'yellow', 'green', 'blue']

In [72]:

list_tuples = [(item, item**3) for item in range(1, 6)]

list_tuples

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [73]:

multiples = [x for x in range(3, 30, 3)]

multiples

[3, 6, 9, 12, 15, 18, 21, 24, 27]

## Generator Expressions

### A generator expression is similar to a list comprehension, but creates an iterable generator object that produces values on demand. This is known as lazy evaluation. List comprehensions use greedy evaluation—they create lists immediately when you execute them. For large numbers of items, creating a list can take substantial memory and time. So generator expressions can reduce your program’s memory consumption and improve performance if the whole list is not needed at once.

In [74]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

for value in (x**2 for x in numbers if x%2 != 0):
    print(value, end=' ')

9 49 1 81 25

In [77]:

square_of_odds = (x**2 for x in numbers if x%2 != 0)

type(square_of_odds)

generator

In [80]:

elements = [10, 3, 7, 1, 9, 4, 2]

list(x**3 for x in elements if x%2 == 0)

[1000, 64, 8]

## Filter, Map and Reduce

### Here we demonstrate the built-in filter and map functions for filtering and mapping, respectively. We continue discussing reductions in which you process a collection of elements into a single value, such as their count, total, product, average, minimum or maximum.

In [85]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

def is_odd(x):
    '''Retur an odd value'''
    return x%2 != 0

list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

In [86]:
''' Functions that receive other functions as arguments are a functional-style capability called higher-order functions.'''

' Functions that receive other functions as arguments are a functional-style capability called higher-order functions.'

In [87]:
#Function filter returns an iterator, so filter’s results are not produced until you iterate through them. 
#This is another example of lazy evaluation.

In [89]:

result = [item for item in numbers if item%2 != 0]
result

[3, 7, 1, 9, 5]

### Using Lambda rather than a function

In [99]:

list(filter(lambda x: x%2 != 0, numbers))

[3, 7, 1, 9, 5]

### Mapping a Sequence’s Values to New Values

In [91]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [95]:

list(map(lambda x: x**2, numbers))  #Lazy Evaluation

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [96]:

[item**2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]


### Combining filter and Map

In [97]:

list(map(lambda x: x**2, filter(lambda x: x%2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [100]:

[x**2 for x in numbers if x%2 != 0]

[9, 49, 1, 81, 25]

### Reduction: Totaling the Elements of a Sequence with sum

In [102]:

list1 = [x for x in range(1, 16)]

list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [104]:
list(filter(lambda x: x%2 == 0, list1))

[2, 4, 6, 8, 10, 12, 14]

In [105]:
list(map(lambda x: x**2, list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [106]:
list(map(lambda x: x**2, filter(lambda x: x%2 == 0, list1)))

[4, 16, 36, 64, 100, 144, 196]

In [108]:

fahrlist = [41, 32, 212]


list(map(lambda x: (x, (x - 32) * 5 / 9), fahrlist))

[(41, 5.0), (32, 0.0), (212, 100.0)]

## Other Sequence Processing Functions

In [109]:

'Red' < 'orange'

True

In [110]:
ord('R')

82

In [111]:
ord('o')

111

In [112]:

colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

In [113]:

min(colors, key=lambda s: s.lower())

'Blue'

In [114]:
max(colors, key=lambda s: s.lower())

'Yellow'

### Iterating Backward Through a Sequence

In [117]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

reversed_numbers = [item**2 for item in reversed(numbers)]
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

### Combining Iterables into Tuples of Corresponding Elements

#### Built-in function zip enables you to iterate over multiple iterables of data at the same time. The function receives as arguments any number of iterables and returns an iterator that produces tuples containing the elements at the same index in each.

In [121]:

names = ['Bob', 'Sue', 'Amanda']


grade_points = [3.5, 4.0, 3.75]


for na, gra in zip(names, grade_points):
    print(f'Name={na}; GPA={gra}')

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

In [122]:

foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

min(foods)

'Bacon'

In [123]:
min(foods, key=lambda s: s.lower())

'apples'

In [124]:


list1 = [1, 4, 5, 6]
list2 = [3, 6, 7, 8]

[a + b for a, b in zip(list1, list2)]

[4, 10, 12, 14]