## Lists

In [1]:

c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

In [3]:
['Mary', 'Smith', 3.57, 2022]

['Mary', 'Smith', 3.57, 2022]

In [4]:
c[0]

-45

In [5]:
c[4]

1543

In [6]:
len(c)

5

In [7]:
a = 1
b = 2

In [8]:
c[a+b]

72

In [9]:
c[4] = 7

In [10]:
c

[-45, 6, 0, 72, 7]

In [11]:
s = 'hello'

In [12]:
len(s)

5

In [13]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [14]:
c[100]

IndexError: list index out of range

In [15]:
c[0] + c[1] + c[2]

-39

## Appending to a List with +=

In [17]:
a_list = []

for number in range(1, 6):
    a_list += [number]

a_list

[1, 2, 3, 4, 5]

In [18]:

letters = []


letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

## Concatenating Lists with +

In [19]:

list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

In [20]:
concatenated_list

[10, 20, 30, 40, 50]

## Using for and range to Access List Indices and Values

In [22]:

for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

## Comparison Operators

In [24]:

a = [1, 2, 3]
b = [1, 2, 3]

c = [1, 2, 3, 4]

a == b

True

In [25]:
a == c

False

In [26]:
a < c   #It compares the size of elements

True

In [27]:
c >= b  #It compares the size of elements

True

In [38]:

def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numeros)

In [37]:
numeros

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [41]:

characters = []

characters += 'Birthday'

characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

## Tuples

In [42]:

student_tuple = ()

student_tuple

()

In [43]:
len(student_tuple)

0

In [44]:
student_tuple = 'John', 'Green', 3.3

In [45]:
student_tuple

('John', 'Green', 3.3)

In [46]:
len(student_tuple)

3

In [47]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [48]:
another_student_tuple

('Mary', 'Red', 3.3)

In [52]:
a_singleton_tuple = ('red',)

In [53]:
a_singleton_tuple

('red',)

In [54]:
type(a_singleton_tuple)

tuple

## Accessing Tuple Elements

In [55]:

time_tuple = (9, 16, 1)

In [56]:
time_tuple

(9, 16, 1)

In [57]:
time_tuple[0]*3600 + time_tuple[1]*60 + time_tuple[2]

33361

## Adding Items to a String or Tuple

In [58]:

tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [59]:
tuple1 += (40, 50)

In [60]:
tuple1

(10, 20, 30, 40, 50)

In [61]:
tuple2

(10, 20, 30)

In [62]:
numbers = [1, 2, 3, 4, 5]

In [63]:
numbers += (6, 7)

In [64]:
numbers

[1, 2, 3, 4, 5, 6, 7]

## Tuples May Contain Mutable Objects

In [65]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [66]:
student_tuple[2][1] = 85

In [67]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [68]:
single_element = (123.45, )

In [69]:
type(single_element)

tuple

In [70]:

n = [1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

## Unpacking Sequences

In [71]:

student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

In [72]:
first_name

'Amanda'

In [73]:
grades

[98, 85, 87]

In [74]:

first, second = 'hi'

print(f'{first} {second}')

h i

In [75]:

number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

2 3 5

In [76]:
number1, number2, number3 = range(10, 40, 10)

In [77]:
print(f'{number1} {number2} {number3}')

10 20 30

In [79]:

number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

## Accessing Indices and Values Safely with Built-in Function enumerate

### The preferred mechanism for accessing an element’s index and value is the built-in function enumerate. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value. The following code uses the built-in function list to create a list containing enumerate’s results:

In [2]:

colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [3]:
type(enumerate(colors))

enumerate

In [82]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [83]:

for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

In [84]:

'''Dislplay a bar chart'''

numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

Creating a bar chart from numbers
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

In [85]:


high_low = ('Monday', 13, 25)

high_low[0]

'Monday'

In [87]:

print(f'{high_low[0]}: High={high_low[1]}, Low={high_low[2]}')

dayh, dayl = high_low

Monday: High=13, Low=25

ValueError: too many values to unpack (expected 2)

In [88]:


list_names = ['John', 'Temil', 'Khan']

for index, value in enumerate(list_names):
    print(f'{index}: {value}')

0: John
1: Temil
2: Khan

## Sequence Slicing

In [32]:

numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[2:6]

[5, 7, 11, 13]

In [33]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [34]:
numbers[6:]

[17, 19]

In [35]:
numbers[6:len(numbers)]

[17, 19]

In [36]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [37]:
#Each step is of two
numbers[::2]

[2, 5, 11, 17]

In [39]:
#Each step is in reverse order

numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [11]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [12]:

numbers[0:3] = ['two', 'three', 'five']

numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [15]:

#Delete the three first elements


numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[0:3] = []

numbers

[7, 11, 13, 17, 19]

In [16]:

#Change the elements

numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[::2] = [100, 100, 100, 100]

numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [17]:
id(numbers)

140486678558976

In [18]:

numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[:] = []

numbers

[]

In [19]:
id(numbers)

140486681093120

In [20]:

numbers = []

numbers

[]

In [21]:
id(numbers)

140486680730496

In [67]:


numbers_ex = []

for i in range(1, 16):
    numbers_ex += [i]

    
numbers_ex

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [80]:

numbers_ex = numbers_ex[::2]

numbers_ex

[1, 3, 5, 0, 0, 14]

In [81]:

numbers_ex = []

for i in range(1, 16):
    numbers_ex += [i]

    
numbers_ex

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [82]:

#We can operand between lists

a = [2, 3]

2*a


numbers_ex[5:10] = [0] * len(numbers_ex[5:10])

numbers_ex

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [88]:

numbers_ex = []

for i in range(1, 16):
    numbers_ex += [i]

    
numbers_ex

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [89]:

numbers_ex[5:] = []

In [90]:
numbers_ex

[1, 2, 3, 4, 5]

In [91]:
numbers_ex = []

In [92]:
numbers_ex

[]

## del Statement

In [94]:

numbers = list(range(0, 10))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:

#Individual elements
del numbers[-1]

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [96]:
#First two elements

del numbers[:2]

In [97]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [98]:
del numbers[::2]

In [99]:
numbers

[3, 5, 7]

In [103]:

numbers = list(range(1, 16))

numbers

del numbers[:4]

numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [104]:
del numbers[::2]

In [105]:
numbers

[6, 8, 10, 12, 14]

## Passing lists to Functions

### No matter how long the traceback is, the last line of code with ----> caused the exception.

In [109]:

def modify_elements(items):
    '''Multiplies all elements by two'''
    for i in range(len(items)):
        items[i] *= 2

        
numbers = [10, 3, 7, 1, 9]

In [110]:
modify_elements(numbers)

In [111]:
numbers

[20, 6, 14, 2, 18]

## Sorting Lists

### A common computing task called sorting enables you to arrange data either in ascending or descending order. Sorting is an intriguing problem that has attracted intense computer- science research efforts

In [112]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

numbers.sort()

In [113]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
numbers.sort(reverse=True)

In [115]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Built-in function sorted returns a new list containing the sorted elements of its argument sequence—the original sequence is unmodified.

In [117]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

asceding_numbers = sorted(numbers)

In [118]:
asceding_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [120]:

letters = 'fadgchjebi'

ascending_letters = sorted(letters)

In [121]:
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [122]:
letters

'fadgchjebi'

In [125]:

foods = ['Cookies', 'pizza', 'Grapes', 
         'apples', 'steak', 'Bacon']

foods.sort()

foods

#As you’ll see later in the chapter, strings are compared by their character’s numerical values, 
#not their letters, and the values of uppercase letters are lower than the values of lowercase letters.

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

## 5.9 Searching Sequences

### Often, you’ll want to determine whether a sequence (such as a list, tuple or string) contains a value that matches a particular key value. Searching is the process of locating a key.

In [126]:

numbers = [3, 7, 1, 4, 2, 8, 5, 6]

numbers.index(5)   #It returns the index at which the value 5 is (The first)

6

In [128]:

numbers *= 2

In [129]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [130]:

'''Often, you’ll want to determine whether a sequence (such as a list, tuple or string) 
contains a value that matches a particular key value. Searching is the process of locating a key.'''

numbers.index(5, 7)

14

In [132]:
'''Specifying the starting and ending indices causes 
index to search from the starting index up to but not including the ending index location. '''

numbers.index(5, 7, len(numbers))

numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [134]:

numbers.index(7, 0, 4)

1

## Operators in and not in

In [135]:

1000 in numbers

False

In [136]:
5 in numbers

True

In [137]:
1000 not in numbers

True

In [138]:
5 not in numbers

False

In [141]:

key = 1000

if key in numbers:
    print(f'foung {key} at index {numbers.index(numbers)}')
    
else:
    print(f'{key} not found')

1000 not found

NameError: name 'search_key' is not defined

In [144]:


list1 = [0, 1, 1, 0, 1]
list2 = [1, 1, 1, 1, 1]
list3 = [0, 0, 0, 0, 0]


print(all(list1))
print(any(list1))

False
True

In [145]:
print(all(list2))
print(any(list2))

True
True

In [147]:
print(all(list3))
print(any(list3))

False
False

In [148]:

ele = [67, 12, 46, 43, 13]

n1 = 43
n2 = 44

if n1 in ele:
    print(f'{n1} is at index {ele.index(n1)}')

else:
    print(f'{n1} is not in ele')
    
if n2 in ele:
    print(f'{n2} is at index {ele.index(n2)}')

else:
    print(f'{n2} is not in ele')

43 is at index 3
44 is not in ele