# Exercises

## 2.1

In [3]:
'''What does this code do'''


x = 2
y = 3

In [4]:
print('x =', x)

x = 2

In [5]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [6]:
print('x = ')

x =

In [7]:
print((x + y), '=', (y + x))

5 = 5

## 2.2

In [8]:
'''What is wrong with this code'''

rating1 = input('Enter and integer rating between 1 and 10 ')

#Here rating is a string

rating2 = int(input('Enter and integer rating between 1 and 10 '))

Enter and integer rating between 1 and 10 6
Enter and integer rating between 1 and 10 5

In [9]:
rating1

'6'

In [10]:
rating2

5

# 2.3

In [11]:
 '''Fill in the missing code'''


grade = int(input('Por favor digite su calificación: '))

if grade >= 90:
    print('Congratulation our grade of 91 earns you an A in this course!')

Por favor digite su calificación: 95
Congratulation our grade of 91 earns you an A in this course!

## 2.4

In [12]:
'''Arithmetic'''


27.5 + 2

29.5

In [13]:
27.5 - 2

25.5

In [14]:
27,5 * 2

(27, 10)

In [15]:
27.5 / 2

13.75

In [16]:
27.5 // 2

13.0

In [17]:
27.5 ** 2

756.25

# 2.5

In [18]:
''' Circle Area, Diameter and Circumference'''


r = 2

diameter = 2*r
circumference = 2*r*3.14159
area = 3.14159*(r**2)

print(diameter)
print(circumference)
print(area)

4
12.56636
12.56636

# 2.6

In [19]:
'''Odd or Even'''


n = int(input('Por favor digite un número: '))

if (n%2) == 0:
    print('El número es par')
    
else:
    print('El número es impar')

Por favor digite un número: 89
El número es impar

# 2.7

In [20]:
'''Multiples'''


if (1024%4) == 0:
    print('1024 is multiple of 4')
    
if (2%10) == 0:
    print('2 is a multiple of ten')

1024 is multiple of 4

# 2.8

In [21]:
'''Table of squares and cubes'''


print('number\t square\t cube')
print( 0,'\t', 0**2, '\t',  0**3)
print( 1,'\t', 1**2, '\t',  1**3)
print( 2,'\t', 2**2, '\t',  2**3)
print( 3,'\t', 3**2, '\t',  3**3)
print( 4,'\t', 4**2, '\t',  4**3)
print( 5,'\t', 5**2, '\t',  5**3)

number	 square	 cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125

# 2.9

In [22]:
'''Integer value of a Character'''


print(ord('A'))
print(ord('B'))
print(ord('C'))
print(ord('B'))
print(ord('b'))
print(ord('c'))
print(ord('d'))
print(ord('0'))
print(ord('1'))
print(ord('2'))
print(ord('$'))
print(ord('*'))
print(ord('+'))

65
66
67
66
98
99
100
48
49
50
36
42
43

# 2.10

In [23]:
'''Arithmetic, Smallest, and Largest'''

n1 = int(input('Por favor digite el primer número: '))
n2 = int(input('Por favor digite el segundo número: '))
n3 = int(input('Por favor digite el tercer número: '))


print('The sum of the numbers is: ', n1 + n2 + n3)
print('The average of the numbers is: ', (n1 + n2 + n3)/3. )
print('The product of the numbers is: ', n1 * n2 * n3 )
print('The smallest of the numbers is: ', min(n1, n2, n3) )
print('The highest of the numbers is: ', max(n1, n2, n3) )

Por favor digite el primer número: 5
Por favor digite el segundo número: 4
Por favor digite el tercer número: 6
The sum of the numbers is:  15
The average of the numbers is:  5.0
The product of the numbers is:  120
The smallest of the numbers is:  4
The highest of the numbers is:  6

# 2.11

In [24]:
'''Separating the Digits in an Integer'''

number = int(input('Please digit a five-digit number: '))


part1 = number // 10000
red1 = number % 10000

part2 = red1 // 1000
red2 = red1 % 1000

part3 = red2 // 100
red3 = red2 % 100

part4 = red3 // 10
red4 = red3 % 10


print('The separated number is: ', part1, part2, part3, part4, red4)

Please digit a five-digit number: 56473
The separated number is:  5 6 4 7 3

# 2.12

In [25]:
'''7% Investment Return'''

p = 1000
r = 0.07


print('Investment returned in 10 years is: ', p*((1 + r )**10))
print('Investment returned in 20 years is: ', p*((1 + r )**20))
print('Investment returned in 30 years is: ', p*((1 + r )**30))

Investment returned in 10 years is:  1967.1513572895665
Investment returned in 20 years is:  3869.6844624861833
Investment returned in 30 years is:  7612.255042662042

# 2.13

In [ ]:
'''How Big Can Python Integers Be?'''


n1 = 1000000000000000**2
#n2 = 2**100000000000000000000000000

# 2.14

In [26]:
'''Target Heart-Rate Calculator'''


p = int(input('Please digit your age: '))

print('Your maximun heart rate is: ',220 - p)
print('Your range of heart rate is: ', 0.5*(220 - p),'-', 0.85*(220 - p) )

Please digit your age: 30
Your maximun heart rate is:  190
Your range of heart rate is:  95.0 - 161.5

# 2.15

In [35]:
'''Sort in Ascending Order'''


n1 = float(input('Please enter the first number: '))
n2 = float(input('Please enter the second number: '))
n3 = float(input('Please enter the third number: '))

if n1 > n2 and n1 > n3:
    
    if n2 > n3:
        print('The numbers from highest to lowest is: ', n1, n2, n3)
        
    else:
        print('The numbers from highest to lowest is: ', n1, n3, n2)
              
              
if n2 > n1 and n2 > n3:
    
    if n1 > n3:
        print('The numbers from highest to lowest is: ', n2, n1, n3)
        
    else:
        print('The numbers from highest to lowest is: ', n2, n3, n1)
              
              
if n3 > n2 and n3 > n1:
    
    if n2 > n1:
        print('The numbers from highest to lowest is: ', n3, n2, n1)
        
    else:
        print('The numbers from highest to lowest is: ', n3, n1, n2)
        

if n1 == n2 and n2 == n3:
    print('All the numbers have the same value: ', n1, n2, n3)
    

if n1 > n2 and n2 == n3:
    print('The numbers from highest to lowest is: ', n1, n2, n3)
    
if n2 > n1 and n1 == n3:
    print('The numbers from highest to lowest is: ', n2, n1, n3)
    
if n3 > n1 and n1 == n2:
    print('The numbers from highest to lowest is: ', n3, n1, n2)
    

if n1 > n2 and n1 == n3:
    print('The numbers from highest to lowest is: ', n1, n3, n2)
    
if n1 > n3 and n1 == n2:
    print('The numbers from highest to lowest is: ', n1, n2, n3)
    
    
    
if n2 > n1 and n2 == n3:
    print('The numbers from highest to lowest is: ', n2, n1, n3)
    
if n2 > n3 and n2 == n1:
    print('The numbers from highest to lowest is: ', n2, n1, n3)
    
    
if n3 > n1 and n3 == n2:
    print('The numbers from highest to lowest is: ', n3, n2, n1)
    
if n3 > n2 and n3 == n1:
    print('The numbers from highest to lowest is: ', n3, n1, n2)

Please enter the first number: 6.7
Please enter the second number: 5.4
Please enter the third number: 3.2
The numbers from highest to lowest is:  6.7 5.4 3.2