# Chapter 3

In [1]:
n1 = int(input('Enter the first integer: '))
n2 = int(input('Enter the second integer: '))

sum = n1 + n2

print('The sum of', n1, 'and', n2, 'is', sum)

Enter the first integer:  10
Enter the second integer:  5

The sum of 10 and 5 is 15

In [2]:
grade = 57


if grade >= 60:
    print('Passed')
    
else:
    print('Failed')

Failed

In [3]:
grade = 99


if grade >= 60:
    print('Passed')
    
else:
    print('Failed')

Passed

In [4]:


result = ('Passed' if grade >= 60 else 'Failed')

In [5]:
result

'Passed'

## While Statement

In [6]:
product = 3


while product <= 50:
    product = product * 3

product

81

In [7]:

product = 7


while product <= 1000:
    product = product * 7
    
    
product

2401

## For statement

In [11]:
for char in 'Programming':
    print(char, end= '  ')

P  r  o  g  r  a  m  m  i  n  g

In [13]:
for char in 'Programming':
    print(char, end= '-')

P-r-o-g-r-a-m-m-i-n-g-

In [14]:
print(10, 20, 30, sep=',', end='!')

10,20,30!

## Iterable, Lists, and Iterators

### An iter- able is an object from which the for statement can take one item at a time until no more items remain.

In [16]:

total = 0


for number in [2, -3, 0, 17, 9]:
    total = total + number
    
total

25

### Each sequence has an iterator. The for statement uses the iterator “behind the scenes” to get each consecutive item until there are no more to process. The iterator is like a book- mark—it always knows where it is in the sequence, so it can return the next item when it’s called upon to do so.

## Built-In range function

In [21]:
a = range(10)
type(a)

range

In [24]:

for counter in range(10):        #Does not include the last term
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

### A logic error known as an off-by-one error occurs when you assume that range’s argument value is included in the generated sequence. For example, if you provide 9 as range’s argu- ment when trying to produce the sequence 0 through 9, range generates only 0 through 8.

In [25]:

'''Sum of the integers from 0 to 1000000'''

total = 0

for num in range(1000001):
    total = total + num

total

500000500000

## Augmented Assignments

In [27]:

total = 0


for num in [1, 2, 3, 4, 5]:
    total += num

total

15

## 3.10 Program Development: Sequence-Controlled Repetition

In [29]:

'''Promedio de notas'''

#Initialization Phase
total = 0
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

#Processing Phase
for grade in grades:
    total += grade
    grade_counter += 1
    
#Termination Phase 
average = total/grade_counter 
print(f'Class average is {average}')

Class average is 81.7

## 3.11 Program Development: Sentinel-Controlled Repetition

In [32]:

"""Class average program with sentinel-controlled iteration."""

total = 0
grade_counter = 0


grade = int(input('Enter the grade, -1 to end: '))

while grade != -1:
    total += grade
    grade_counter += 1
    grade = int(input('Enter the grade, -1 to end: '))
    
if grade_counter != 0:
    average = total/grade_counter
    print(f'Class average is {average:.2f}')

else:
    print('No grades were enterede')

Enter the grade, -1 to end:  97
Enter the grade, -1 to end:  88
Enter the grade, -1 to end:  72
Enter the grade, -1 to end:  -1

Class average is 85.67

In [34]:

'''Analyze exam results and decide whether instructor should receive a bonus'''

passes = 0
failures = 0


for student in range(10):
    
    result = int(input('Enter the result (1=pass, 2=fail): '))
    
    if result == 1:
        passes = passes + 1
        
    else:
        failures = failures + 1
    
print('Passed: ', passes)
print('Failed: ', failures)

if passes > 8:
    print('Bonus to instructor')

Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  2
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1
Enter the result (1=pass, 2=fail):  1

Passed:  9
Failed:  1
Bonus to instructor

In [39]:

"""Let's determine if a number is even or odd"""

for i in range(2):
    
    num = int(input('Please, enter a number: '))
    
    if num%2 == 0:
        print('The number', num, 'is even')
        
    else:
        print('The number', num, 'is odd')

Please, enter a number:  10

The number 10 is even

Please, enter a number:  7

The number 7 is odd

## 3.13 Built-In Function range: A Deeper Look

In [48]:

'''Two-argument version'''

for i in range(5, 10):
    print(i, end=' ')
    
print("\n")
    
'''Three-argument version'''

for i in range(0, 10, 2):
    print(i, end=' ')
    

print("\n")


for i in range(10, 0, -2):
    print(i, end=' ')

5 6 7 8 9

0 2 4 6 8

10 8 6 4 2

In [50]:

for num in range(99, -11, -11):
    print(num, end=' ')

99 88 77 66 55 44 33 22 11 0

In [52]:


total = 0

for n in range(2, 102, 2):
    total += n
    
print('The total sum is:', total)

The total sum is: 2550

### In this section, we introduce Decimal capabilities for precise monetary calculations. If you enter banking or other fields that require the accuracy provided by type Decimal, you should investigate Decimal’s capabilities in depth

## Importing Type Decimal from the decimal Module

In [53]:

'''Python Standard Library ---> Module'''


#The decimal module defines type Decimal and its capabilities.

from decimal import Decimal

principal = Decimal('1000.00')

principal

Decimal('1000.00')

In [54]:
rate = Decimal('0.05')

In [55]:
rate

Decimal('0.05')

In [56]:

x = Decimal('10.5')

y = Decimal('2')

x + y

Decimal('12.5')

In [57]:
x//y

Decimal('5')

In [58]:
x += y

In [59]:
x

Decimal('12.5')

### Calculating Compound Interest

In [71]:

principal = Decimal('1000.00')
rate = Decimal('0.05')


for year in range(1, 11):
    amount = principal * (  1 + rate ) ** year
    print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

In [72]:

bill = Decimal('37.45')
tax = Decimal('0.0625')

total = bill + bill * tax

print(f'The total value is: {total:>.2f}')

The total value is: 39.79

## 3.15 break and continue Statements

### The break and continue statements alter a loop’s flow of control. Executing a break state- ment in a while or for immediately exits that statement.

In [2]:

for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [3]:

for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

## 3.16 Boolean Operators and, or and not

In [4]:

gender = 'Female'

age = 70


if gender == 'Female' and age >= 65:
    print('Senior Female')

Senior Female

In [5]:

semester_average = 83

final_exam = 95


if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

### In operator expressions that use and, make the condition that’s more likely to be False the leftmost condition. In or operator expressions, make the condition that’s more likely to be True the leftmost condition. These can reduce a program’s execution time.

In [7]:


grade = 87


if not grade == -1:
    print('The next grade is:', grade)

if grade != -1:
    print('The next grade is:', grade)

The next grade is: 87
The next grade is: 87

In [8]:

i = 1
j = 2
k = 3
m = 2


i >= i and j < 4

True

In [9]:
m <= 99 and k < m

False

In [10]:
j >= i or k == m

True

In [11]:
k + m < j or 3 - j >= k

False

In [12]:
not (k > m)

False

## 3.17 Intro to Data Science: Measures of Central Tendency—Mean, Median and Mode

In [13]:

grades = [85, 93, 45, 89, 85]

sum(grades)/len(grades)

79.4

In [14]:

import statistics

In [15]:
statistics.mean(grades)

79.4

In [16]:
statistics.median(grades)

85

In [17]:
statistics.mode(grades)

85

### Each function’s argument must be an iterable—in this case, the list grades.

In [18]:

sorted(grades)

[45, 85, 85, 89, 93]

In [19]:

import statistics

values = [47, 95, 88, 73, 88, 84]

statistics.mean(values)

79.16666666666667

In [20]:

statistics.median(values)

86.0

In [21]:
statistics.mode(values)

88

In [25]:
sorted(values)

[47, 73, 84, 88, 88, 95]