# Exercises

## 2.1

In [ ]:
'''What does this code do'''


x = 2
y = 3

In [ ]:
print('x =', x)

In [ ]:
print('Value of', x, '+', x, 'is', (x + x))

In [ ]:
print('x = ')

In [ ]:
print((x + y), '=', (y + x))

## 2.2

In [ ]:
'''What is wrong with this code'''

rating1 = input('Enter and integer rating between 1 and 10 ')

#Here rating is a string

rating2 = int(input('Enter and integer rating between 1 and 10 '))

In [ ]:
rating1

In [ ]:
rating2

# 2.3

In [ ]:
 '''Fill in the missing code'''


grade = int(input('Por favor digite su calificación: '))

if grade >= 90:
    print('Congratulation our grade of 91 earns you an A in this course!')

## 2.4

In [ ]:
'''Arithmetic'''


27.5 + 2

In [ ]:
27.5 - 2

In [ ]:
27,5 * 2

In [ ]:
27.5 / 2

In [ ]:
27.5 // 2

In [ ]:
27.5 ** 2

# 2.5

In [ ]:
''' Circle Area, Diameter and Circumference'''


r = 2

diameter = 2*r
circumference = 2*r*3.14159
area = 3.14159*(r**2)

print(diameter)
print(circumference)
print(area)

# 2.6

In [ ]:
'''Odd or Even'''


n = int(input('Por favor digite un número: '))

if (n%2) == 0:
    print('El número es par')
    
else:
    print('El número es impar')

# 2.7

In [ ]:
'''Multiples'''


if (1024%4) == 0:
    print('1024 is multiple of 4')
    
if (2%10) == 0:
    print('2 is a multiple of ten')

# 2.8

In [ ]:
'''Table of squares and cubes'''


print('number\t square\t cube')
print( 0,'\t', 0**2, '\t',  0**3)
print( 1,'\t', 1**2, '\t',  1**3)
print( 2,'\t', 2**2, '\t',  2**3)
print( 3,'\t', 3**2, '\t',  3**3)
print( 4,'\t', 4**2, '\t',  4**3)
print( 5,'\t', 5**2, '\t',  5**3)

# 2.9

In [ ]:
'''Integer value of a Character'''


print(ord('A'))
print(ord('B'))
print(ord('C'))
print(ord('B'))
print(ord('b'))
print(ord('c'))
print(ord('d'))
print(ord('0'))
print(ord('1'))
print(ord('2'))
print(ord('$'))
print(ord('*'))
print(ord('+'))

# 2.10

In [ ]:
'''Arithmetic, Smallest, and Largest'''

n1 = int(input('Por favor digite el primer número: '))
n2 = int(input('Por favor digite el segundo número: '))
n3 = int(input('Por favor digite el tercer número: '))


print('The sum of the numbers is: ', n1 + n2 + n3)
print('The average of the numbers is: ', (n1 + n2 + n3)/3. )
print('The product of the numbers is: ', n1 * n2 * n3 )
print('The smallest of the numbers is: ', min(n1, n2, n3) )
print('The highest of the numbers is: ', max(n1, n2, n3) )

# 2.11

In [ ]:
'''Separating the Digits in an Integer'''

number = int(input('Please digit a five-digit number: '))


part1 = number // 10000
red1 = number % 10000

part2 = red1 // 1000
red2 = red1 % 1000

part3 = red2 // 100
red3 = red2 % 100

part4 = red3 // 10
red4 = red3 % 10


print('The separated number is: ', part1, part2, part3, part4, red4)

# 2.12

In [ ]:
'''7% Investment Return'''

p = 1000
r = 0.07


print('Investment returned in 10 years is: ', p*((1 + r )**10))
print('Investment returned in 20 years is: ', p*((1 + r )**20))
print('Investment returned in 30 years is: ', p*((1 + r )**30))

# 2.13

In [ ]:
'''How Big Can Python Integers Be?'''


n1 = 1000000000000000**2
n2 = 2**100000000000000000000000000

# 2.14

In [ ]:
'''Target Heart-Rate Calculator'''


p = int(input('Please digit your age: '))

print('Your maximun heart rate is: ',220 - p)
print('Your range of heart rate is: ', 0.5*(220 - p),'-', 0.85*(220 - p) )

# 2.15

In [ ]:
'''Sort in Ascending Order'''


n1 = float(input('Please enter the first number: '))
n2 = float(input('Please enter the second number: '))
n3 = float(input('Please enter the third number: '))

if n1 > n2 and n1 > n3:
    
    if n2 > n3:
        print('The numbers from highest to lowest is: ', n1, n2, n3)
        
    else:
        print('The numbers from highest to lowest is: ', n1, n3, n2)
              
              
if n2 > n1 and n2 > n3:
    
    if n1 > n3:
        print('The numbers from highest to lowest is: ', n2, n1, n3)
        
    else:
        print('The numbers from highest to lowest is: ', n2, n3, n1)
              
              
if n3 > n2 and n3 > n1:
    
    if n2 > n1:
        print('The numbers from highest to lowest is: ', n3, n2, n1)
        
    else:
        print('The numbers from highest to lowest is: ', n3, n1, n2)
        

if n1 == n2 and n2 == n3:
    print('All the numbers have the same value: ', n1, n2, n3)
    

if n1 > n2 and n2 == n3:
    print('The numbers from highest to lowest is: ', n1, n2, n3)
    
if n2 > n1 and n1 == n3:
    print('The numbers from highest to lowest is: ', n2, n1, n3)
    
if n3 > n1 and n1 == n2:
    print('The numbers from highest to lowest is: ', n3, n1, n2)