# Variables and Assigments

In [1]:
45 + 72

117

In [2]:
x = 7 
y = 3

In [3]:
x + y

10

In [4]:
total = x + y
total

10

In [5]:
type(x)

int

In [6]:
type(10.5)

float

In [7]:
total = 10.8 + 12.2 + 0.2
total

23.2

## 2.3 Aritmetic

In [8]:
7 * 4

28

In [9]:
2 ** 10

1024

In [10]:
9 ** (1 / 2)

3.0

In [11]:
7 / 4

1.75

In [12]:
7 // 4

1

In [13]:
3 // 5

0

In [14]:
14 // 7

2

In [15]:
-13 / 4

-3.25

In [16]:
-13 // 4

-4

In [17]:
123 / 0

ZeroDivisionError: division by zero

In [18]:
z + 7

NameError: name 'z' is not defined

In [19]:
17 % 5

2

In [20]:
7.5 % 3.5

0.5

In [21]:
10 * (5 + 3)

80

In [22]:
10 * 5 + 3

53

# Function print and an Intro to Single- and Double- Quoted Strings

In [23]:
print("Welcome to Python")

Welcome to Python

In [24]:
print('Welcome to Python')

Welcome to Python

In [25]:
print('Welcome','to', 'Python')

Welcome to Python

In [26]:
print('Welcome\nto\n\nPython')

Welcome
to

Python

In [27]:
print('this is alonger string,so we \
split it over two lines')

this is alonger string,so we split it over two lines

In [28]:
print('Sum is', 7 + 3)

Sum is 10

In [29]:
type('word')

str

In [30]:
print('int(5,2)', 'truncates 5.2 to', int(5.2))

int(5,2) truncates 5.2 to 5

## Triple Quoted Strings

In [31]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [32]:
print('Display 'hi' in quotes')

SyntaxError: invalid syntax (<ipython-input-32-19bf596ccf72>, line 1)

In [33]:
print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [34]:
print("Display the name O'brien" )

Display the name O'brien

In [35]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [36]:
print("""Display "hi" and 'bye' in quotes """)

Display "hi" and 'bye' in quotes

In [37]:
triple_quoted_string = """This is a triple quoted string that spans two lines"""

In [38]:
print(triple_quoted_string)

This is a triple quoted string that spans two lines

In [39]:
triple_quoted_string

'This is a triple quoted string that spans two lines'

In [40]:
print("""This is a lengthy
          multiline string containing
       a few lines \
       of text""")

This is a lengthy
          multiline string containing
       a few lines        of text

## 2.6 Getting Input from User

In [41]:
name = input("What's your name?")

What's your name? Paul

In [42]:
name

'Paul'

In [43]:
print(name)

Paul

In [44]:
name = input("What's your name?")

What's your name? 'Paul'

In [45]:
name

"'Paul'"

In [46]:
print(name)

'Paul'

In [48]:
value1 = input('Enter first number: ')

Enter first number:  7

In [49]:
value2 = input('Enter second number: ')

Enter second number:  3

In [50]:
value1 + value2

'73'

In [60]:
value = input('Enter an integer: ')

Enter an integer:  7

In [61]:
value = int(value)

In [62]:
value

7

In [63]:
another_value = int(input('Enter another integer: '))

Enter another integer:  13

In [64]:
another_value

13

In [65]:
value + another_value

20

In [68]:
float('6.2') * 3.3

20.46

## 2.6 DecisionMaking: The if Statement and Comparison Operators

In [66]:
7 > 4

True

In [67]:
7 < 4

False