# Dictionaries and Sets

### A $\textit{dictionary}$ is an unordered collection which stores key–value pairs that map immutable keys to values, just as a conventional dictionary maps words to definitions. A $\textit{set}$ is an unordered collection of unique immutable elements.

## 6.2 Dictionaries

### A dictionary’s keys must be immutable (such as strings, numbers or tuples) and unique (that is, no duplicates). Multiple keys can have the same value, such as two different inven- tory codes that have the same quantity in stock.

In [4]:

country_codes = {'Finland' : 'fi', 'South Africa' : 'za', 
                 'Nepal' : 'np'}
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [2]:

len(country_codes)

3

In [3]:

if country_codes:
    print('country_codes not empty')
    
else:
    print('country codes empty')

country_codes not empty

In [4]:

country_codes.clear()

if country_codes:
    print('country_codes not empty')
    
else:
    print('country codes empty')

country codes empty

In [5]:

states = { 'VT' : 'Vermont', 'NH' : 'New Hampshire', 'MA' : 'Massachusetts'}

states

{'VT': 'Vermont', 'NH': 'New Hampshire', 'MA': 'Massachusetts'}

### 6.2.2 Iterating through a Dictionary

In [5]:

days_per_month = {'January' : '31', 'February' : '28', 'March' : '31'}

days_per_month

{'January': '31', 'February': '28', 'March': '31'}

In [10]:
days_per_month.items()

dict_items([('January', '31'), ('February', '28'), ('March', '31')])

In [7]:

for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

In [8]:
print(type(days_per_month.items()))  #items returns each key–value pair as a tuple, which we unpack into month and days

<class 'dict_items'>

### 6.2.3 Basic Dictionary Operations

In [20]:

roman_numerals = {'I' : 1, 'II' : 2, 'III' : 3, 'V' : 5, 'X' : 100}
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [21]:
# Accessing the Value Associated with a Key
roman_numerals['V']

5

In [22]:
# Updating the Value of an Existing Key–Value Pair

roman_numerals['X'] = 10

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

In [23]:
# Adding a New Key–Value Pair

roman_numerals['L'] = 50

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

In [24]:
# Removing a Key–Value Pair

del roman_numerals['III']

roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

In [25]:
# remove a key–value pair with the dictionary method pop

roman_numerals.pop('X')

10

In [27]:
# Attempting to Access a Nonexistent Key
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [29]:
# You can prevent this error by using dictionary method get, which normally returns its argument’s corresponding value. 

roman_numerals.get('III')

In [30]:
roman_numerals.get('III', 'III not found in the dictionary')

'III not found in the dictionary'

In [31]:
roman_numerals.get('III', 'It is found?')

'It is found?'

In [32]:
# Testing Whether a Dictionary Contains a Specified Key

'V' in roman_numerals

True

In [33]:
'III' in roman_numerals

False

In [34]:
'III' not in roman_numerals

True

In [35]:
# String dictionary keys are case sensitive.

roman_numerals = {'I' : 1, 'II' : 2, 'III' : 3, 'V' : 5, 'X' : 100}

In [36]:
roman_numerals['x'] = 10

In [37]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100, 'x': 10}

In [39]:

roman_numerals.items()

dict_items([('I', 1), ('II', 2), ('III', 3), ('V', 5), ('X', 100), ('x', 10)])

### 6.2.4 Dictionary Methods keys and values

### Earlier, we used dictionary method items to iterate through tuples of a dictionary’s key-value pairs.

In [42]:

days_per_month = {'January' : '31', 'February' : '28', 'March' : '31'}

for month in days_per_month.keys():
    print(month, end=' ')

January February March

In [43]:

for number in days_per_month.values():
    print(number, end=' ')

31 28 31

### When you iterate over a view, it “sees” the dictionary’s current contents—it does not have its own copy of the data.

In [45]:

months_view = days_per_month.keys()

for key in months_view:
    print(key, end=' ')

January February March

In [46]:

days_per_month['December'] = 12
days_per_month

{'January': '31', 'February': '28', 'March': '31', 'December': 12}

In [47]:

for key in months_view:
    print(key, end=' ')

#Do not modify a dictionary while iterating through a view.

January February March December

### You might occasionally need lists of a dictionary’s keys, values or key–value pairs.

In [48]:

list(days_per_month.keys())

['January', 'February', 'March', 'December']

In [49]:
list(days_per_month.values())

['31', '28', '31', 12]

In [50]:
list(days_per_month.items())

[('January', '31'), ('February', '28'), ('March', '31'), ('December', 12)]

### Processing Keys in Sorted Order

In [53]:
type(days_per_month.keys())
type(days_per_month.values())

dict_values

In [57]:

for month_name in sorted(days_per_month.keys()):
    print(month_name, end=' ')
    
#for date in sorted(days_per_month.values()):
 #   print(date, end=' ')

December February January March

### 6.2.5 Dictionary Comparison

### An equals (==) comparison evaluates to True if both dictionaries have the same key–value pairs, regardless of the order in which those key–value pairs were added to each dictionary:

In [58]:

country_capitals1 = {'Belgium' : 'Brussels',
                     'Haiti' : 'Port-au-Prince'}

country_capitals2 = {'Nepal' : 'Kathmandu',
                     'Uruguay' : 'Montevideo'}

country_capitals3 = {'Haiti' : 'Port-au-Prince',
                     'Belgium' : 'Brussels'}

In [59]:
country_capitals1 == country_capitals2

False

In [60]:
country_capitals1 == country_capitals3

True

In [61]:
country_capitals1 != country_capitals2

True

### 6.2.6 Example: Dictionary of Student Grades

In [62]:

grade_book = {
    'Susan' : [92, 85, 100],
    'Eduardo' : [83, 95, 79],
    'Azizi' : [91, 89, 82],
    'Pantipa' : [97, 91, 92]
}

all_grades_total = 0
all_grades_count = 0


for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average of {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
    
print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")

Average of Susan is 92.33
Average of Eduardo is 85.67
Average of Azizi is 87.33
Average of Pantipa is 93.33
Class's average is: 89.67

### 6.2.7 Example: Word Count

In [69]:

text = ('this is   a sample text with several words '
        'this is more sample text with some different words')

word_counts = {}

#count ocurrences of each unique word

for word in text.split():
    
    if word in word_counts:
        word_counts[word] += 1
        
    else:
        word_counts[word] = 1
        
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

print('\nNumber of unique words: ', len(word_counts))

word_counts

WORD        COUNT
a           1
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words:  11

{'this': 2,
 'is': 2,
 'a': 1,
 'sample': 2,
 'text': 2,
 'with': 2,
 'several': 1,
 'words': 2,
 'more': 1,
 'some': 1,
 'different': 1}

#### Python Standard Library Module collections

In [72]:

from collections import Counter

text = ('this is sample text with several words '
        'this is more sample text with some different words')

counter = Counter(text.split())

for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')
    
print('Number of unique keys:', len(counter.keys()))

different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2
Number of unique keys: 10

In [75]:

print(counter)

print(type(counter))
print(type(word_counts))

Counter({'this': 2, 'is': 2, 'sample': 2, 'text': 2, 'with': 2, 'words': 2, 'several': 1, 'more': 1, 'some': 1, 'different': 1})
<class 'collections.Counter'>
<class 'dict'>

In [77]:

import random
from collections import Counter

numbers = [random.randrange(1, 6) for i in range(50)]

counter = Counter(numbers)

#Counter is a subclass of a dictionary
for num, count in sorted(counter.items()):
    print(f'{num:<4}{count}')

1   9
2   6
3   11
4   8
5   16

### 6.2.8 Dictionary Method update

In [79]:

country_codes = {}

#It updates a dictionary
country_codes.update({'South Africa': 'za'})

country_codes

{'South Africa': 'za'}

In [82]:

#It converts a parameter argument
country_codes.update(Australia='ar')
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [83]:

#If one wishes to correct
country_codes.update(Australia='au')
country_codes

{'South Africa': 'za', 'Australia': 'au'}

### 6.2.9 Dictionary Comprehensions

In [85]:

months = {'January': 1, 'February': 2, 'March': 3}

months2 = {number: name for name, number in months.items()}

months2

{1: 'January', 2: 'February', 3: 'March'}

In [86]:


months = {'January': 1, 'February': 2, 'March': 2}

months2 = {number: name for name, number in months.items()}

months2

{1: 'January', 2: 'March'}

#### A dictionary comprehension also can map a dictionary’s values to new values. The fol- lowing comprehension converts a dictionary of names and lists of grades into a dictionary of names and grade-point averages.

In [88]:

grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}

grades2 = {k: sum(v)/len(v) for k, v in grades.items()}

grades2

{'Sue': 93.0, 'Bob': 90.0}

In [90]:

numbers = {number: number**3 for number in range(1, 6)}

numbers

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

## 6.3 Sets

In [95]:

colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

colors


#You should not write code that depends on the order of their elements.

{'blue', 'green', 'orange', 'red', 'yellow'}

In [96]:
'red' in colors

True

In [100]:
'purple' in colors

False

In [101]:
'purple' not in colors

True

In [102]:

for color in colors:
    print(color.upper(), end=' ')

GREEN YELLOW BLUE ORANGE RED


#### You can create a set from another collection of values by using the built-in set function— here we create a list that contains several duplicate integer values and use that list as set’s argument:

In [104]:

numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [105]:

set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [106]:

set()

set()

In [108]:
dict()

{}

In [110]:

{1, 2, [1,2]}

TypeError: unhashable type: 'list'

In [116]:

text = 'to be or not to be that is the question'

unique_words = set(text.split())

unique_words

{'be', 'is', 'not', 'or', 'question', 'that', 'the', 'to'}

In [117]:

for word in unique_words:
    print(word, end=' ')

not be that to is the question or

### 6.3.1 Comparing Sets

In [118]:
{1, 3, 5} == {3, 5, 1}

True

In [119]:
{1, 3, 5} != {3, 5, 1}

False

In [120]:
{1, 3, 5} < {3, 5, 1}

False

In [121]:
{1, 3, 5} < {7, 3, 5, 1}

True

In [122]:
{1, 3, 5} <= {3, 5, 1}

True

In [123]:
{1, 3} <= {3, 5, 1}

True

In [124]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [125]:
{1, 2}.issubset({3, 5, 1})

False

### 6.3.2 Mathematical Set Operations

#### Union

In [126]:
{1, 3, 5}|{2, 4, 6}

{1, 2, 3, 4, 5, 6}

In [128]:
{1, 3, 5}.union({20, 20, 3, 40, 40})

{1, 3, 5, 20, 40}

#### Intersection

In [129]:
{1, 3, 5} & {2, 3, 4}

{3}

In [130]:
{1, 3, 5}.intersection({1, 2, 2, 3, 3, 4, 4})

{1, 3}

#### Difference

In [131]:

{1, 3, 5} - {2, 3, 4}

{1, 5}

In [132]:
{1, 3, 5}.difference({2, 3, 4})

{1, 5}

#### Symmetric Difference

In [133]:
{1, 3, 5}^{2, 3, 4}

{1, 2, 4, 5}

In [135]:
{1, 3, 5, 7}.symmetric_difference({2, 2, 3, 3, 4, 4})

{1, 2, 4, 5, 7}

#### Mutable set operators

In [159]:

numbers = {1, 2, 3}

numbers |= {2, 3, 4}

numbers

{1, 2, 3, 4}

In [161]:

#It performs a union
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Methods for Adding and Removing Elements

In [155]:

numbers.add(17)

numbers.add(3)

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [156]:

numbers.remove(3)
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [157]:

numbers.pop()
numbers

{1, 2, 4, 5, 6, 7, 8, 9, 17}

In [158]:

numbers.clear()
numbers

set()

### 6.3.4 Set Comprehensions

In [163]:

numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

evens = {item for item in numbers if item%2 == 0}

evens

{2, 4, 6, 8, 10}

## 6.4 Intro to Data Science: Dynamic Visualizations

In [ ]:

from matplotlib import animation
import matplotlib.pyplot as plt
import random
import seaborn as sns
import sys

def update(frame_number, rolls, faces, frequencies):
    
    # roll die and update frequencies
    for i in range(rolls):
        frequencies[random.randrange(1, 7) - 1] += 1
        
    '''Reconfigure plot for updated die frequencies'''
    
    #Clear old contents
    plt.cla()
    
    #New bars
    axes = sns.barplot(faces, frequencies, palette='bright')
    axes.set_title(f'Die Frequencies for {sum(frequencies):,} Rolls')
    axes.set(xlabel='Die value', ylabel='Frequency')
    axes.sey_ylim(top=max(frequencies)*1.20)
    
    '''Display frequency & percentage above each patch (bar)'''
    
    for bar, frequency in zip(axes.patches, frequencies):
        text_x = bar.get_x() + bar.get_width()/2
        text_y = bar.get_height()
        text = f'{frequency:,}\n{frequency / sum(frequencies:.3%)}'
        axes.text(text_x, text_y, text, ha='center', va='bottom')
        
#Read command-line arguments for number of frames and rolls per frame

number_of_frames = int(sys.argv[1])
number_of_rolls = int(sys.argv[2])


sns.set_style('whitegrid')
figure = plt.figure('Rolling a Six-Sided Die') #Figure for animation
values = list(range(1, 7))
frequencies = [0]*6

die_animation = animation.FuncAnimation(figure, update, repeat=False, frames=number_of_frames, interval=33,
                                       fargs=(rolls_per_frame, values, frequencies))

plt.show()