## Lists

In [1]:

c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

In [3]:
['Mary', 'Smith', 3.57, 2022]

['Mary', 'Smith', 3.57, 2022]

In [4]:
c[0]

-45

In [5]:
c[4]

1543

In [6]:
len(c)

5

In [7]:
a = 1
b = 2

In [8]:
c[a+b]

72

In [9]:
c[4] = 7

In [10]:
c

[-45, 6, 0, 72, 7]

In [11]:
s = 'hello'

In [12]:
len(s)

5

In [13]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [14]:
c[100]

IndexError: list index out of range

In [15]:
c[0] + c[1] + c[2]

-39

## Appending to a List with +=

In [17]:
a_list = []

for number in range(1, 6):
    a_list += [number]

a_list

[1, 2, 3, 4, 5]

In [18]:

letters = []


letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

## Concatenating Lists with +

In [19]:

list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

In [20]:
concatenated_list

[10, 20, 30, 40, 50]

## Using for and range to Access List Indices and Values

In [22]:

for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

## Comparison Operators

In [24]:

a = [1, 2, 3]
b = [1, 2, 3]

c = [1, 2, 3, 4]

a == b

True

In [25]:
a == c

False

In [26]:
a < c   #It compares the size of elements

True

In [27]:
c >= b  #It compares the size of elements

True

In [38]:

def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numeros)

In [37]:
numeros

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [41]:

characters = []

characters += 'Birthday'

characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

## Tuples

In [42]:

student_tuple = ()

student_tuple

()

In [43]:
len(student_tuple)

0

In [44]:
student_tuple = 'John', 'Green', 3.3

In [45]:
student_tuple

('John', 'Green', 3.3)

In [46]:
len(student_tuple)

3

In [47]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [48]:
another_student_tuple

('Mary', 'Red', 3.3)

In [52]:
a_singleton_tuple = ('red',)

In [53]:
a_singleton_tuple

('red',)

In [54]:
type(a_singleton_tuple)

tuple

## Accessing Tuple Elements

In [55]:

time_tuple = (9, 16, 1)

In [56]:
time_tuple

(9, 16, 1)

In [57]:
time_tuple[0]*3600 + time_tuple[1]*60 + time_tuple[2]

33361

## Adding Items to a String or Tuple

In [58]:

tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [59]:
tuple1 += (40, 50)

In [60]:
tuple1

(10, 20, 30, 40, 50)

In [61]:
tuple2

(10, 20, 30)

In [62]:
numbers = [1, 2, 3, 4, 5]

In [63]:
numbers += (6, 7)

In [64]:
numbers

[1, 2, 3, 4, 5, 6, 7]

## Tuples May Contain Mutable Objects

In [65]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [66]:
student_tuple[2][1] = 85

In [67]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [68]:
single_element = (123.45, )

In [69]:
type(single_element)

tuple

In [70]:

n = [1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

## Unpacking Sequences

In [71]:

student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

In [72]:
first_name

'Amanda'

In [73]:
grades

[98, 85, 87]

In [74]:

first, second = 'hi'

print(f'{first} {second}')

h i

In [75]:

number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

2 3 5

In [76]:
number1, number2, number3 = range(10, 40, 10)

In [77]:
print(f'{number1} {number2} {number3}')

10 20 30

In [79]:

number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

## Accessing Indices and Values Safely with Built-in Function enumerate

### The preferred mechanism for accessing an element’s index and value is the built-in function enumerate. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value. The following code uses the built-in function list to create a list containing enumerate’s results:

In [81]:

colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [82]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [83]:

for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

In [84]:

'''Dislplay a bar chart'''

numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

Creating a bar chart from numbers
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

In [85]:


high_low = ('Monday', 13, 25)

high_low[0]

'Monday'

In [87]:

print(f'{high_low[0]}: High={high_low[1]}, Low={high_low[2]}')

dayh, dayl = high_low

Monday: High=13, Low=25

ValueError: too many values to unpack (expected 2)

In [88]:


list_names = ['John', 'Temil', 'Khan']

for index, value in enumerate(list_names):
    print(f'{index}: {value}')

0: John
1: Temil
2: Khan