## (Whatâ€™s Wrong with This Code?)

In [2]:

#Unpcaked without the same number of elements
day, high_temperature = ('Monday', 87, 65)

ValueError: too many values to unpack (expected 2)

In [3]:

#numbers[10] element that is not in numbers
numbers = [1, 2, 3, 4, 5]
numbers[10]

IndexError: list index out of range

In [4]:

#You can not change the object
name = 'amanda' 
name[0] = 'A'

TypeError: 'str' object does not support item assignment

In [5]:

#Index must be integer
numbers = [1, 2, 3, 4, 5] 
numbers[3.4]

TypeError: list indices must be integers or slices, not float

In [6]:

#A tuple cannot be modified
student_tuple = ('Amanda', 'Blue', [98, 75, 87]) 
student_tuple[0] = 'Ariana'

TypeError: 'tuple' object does not support item assignment

In [7]:

#You cannot concatenate to different type of elements
('Monday', 87, 65) + 'Tuesday'

TypeError: can only concatenate tuple (not "str") to tuple

In [8]:

#You cannot sum a string
'A' += ('B', 'C')

SyntaxError: cannot assign to literal (<ipython-input-8-28ff9932e136>, line 2)

In [9]:

#del x erase the variable x
x = 7
del x
print(x)

NameError: name 'x' is not defined

In [10]:

#There is no element 10
numbers = [1, 2, 3, 4, 5]
numbers.index(10)

ValueError: 10 is not in list

In [11]:

#extend can only take one element
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)

TypeError: extend() takes exactly one argument (3 given)

In [12]:

#There is no element 10
numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

ValueError: list.remove(x): x not in list

In [13]:

#Cannot extract an element from an empty list
values = []
values.pop()

IndexError: pop from empty list

## (Whatâ€™s Does This Code Do?)

In [14]:

def mystery(sequence):
    '''It returns true if the sequence is sorted'''
    return sequence == sorted(sequence)

list1 = [4, 2, 5, 1, 3]
mystery(list1)         #False

list2 = [1, 2, 3, 4, 5]
mystery(list2)         #True

True

## (Fill in the Missing Code)

In [19]:

'''Converting inches to meters'''


[(x, x*0.0254) for x in [69, 77, 54]]

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

In [20]:
list(map(lambda x: (x,x*0.0254), [69, 77, 54]))

[(69, 1.7526), (77, 1.9558), (54, 1.3716)]

## (Iteration Order)

In [1]:




a = [[2, 4, 5], 
     [3, 0, -2]]

print(' ', end='  ')
for ind in range(0, len(a[1])):
    print(ind, sep='-', end='  ')
print('\n')

for row in range(0,len(a)):
    
    print(row, end='  ')
    for column in range(0,len(a[row])):
        print(a[row][column], end='  ')
    print('\n')

   0  1  2

0  2  4  5

1  3  0  -2

## (IPython Session: Slicing)

In [2]:

alphabet = 'abcdefghijklmnopqrstuvwxyz'

#(a)
alphabet[0:int(len(alphabet)/2)]

'abcdefghijklm'

In [3]:

#(b)
alphabet[:int(alphabet.index('z')/2)+1]

'abcdefghijklm'

In [4]:

#(c)
alphabet[13:len(alphabet)]

'nopqrstuvwxyz'

In [5]:

#(d)
alphabet[alphabet.index('n'):]

'nopqrstuvwxyz'

In [6]:

#(e)
alphabet[0::2]

'acegikmoqsuwy'

In [7]:

#(f)
alphabet[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [8]:

#(g)
alphabet[::-3]

'zwtqnkheb'

## (Functions Returning Tuples)

In [9]:

def rotate(index1, index2, index3):
    '''Returns a Tuple'''
    return (index3, index1, index2)

a = ('Doug', 22, 1984)
b = (22, 1984, 'Doug')
c = (1984, 'Doug', 22)

rotate(*a)

(1984, 'Doug', 22)

In [10]:
rotate(*b)

('Doug', 22, 1984)

In [11]:
rotate(*c)

(22, 1984, 'Doug')

## (Duplicate Elimination)

In [12]:

a = [4, 3, 2, 5, 6, 3, 4, 5, 6, 8, 9, 4, 5]
l = 'dreftsgfdf'

def dupli_elimination(lista):
    completos = []
    for i in range(len(lista)):
        
        if lista[i] not in completos:
            completos.append(lista[i])
          
    completos.sort()
    
    return completos

dupli_elimination(a)

[2, 3, 4, 5, 6, 8, 9]

In [13]:
dupli_elimination(l)

['d', 'e', 'f', 'g', 'r', 's', 't']

## (Sieve of Eratosthenes)

In [3]:




primes = [True for i in range(1001)]

print(len(primes))
idx = 2

while idx <= len(primes) - 1:
    
    primes[0] = False
    primes[1] = False
    
    if primes[idx] == True:
        
        for idx_2 in range( idx * 2, len(primes), idx ):
            primes[idx_2] = False
                
    
    idx += 1
    
list_p = []

for idx, i in enumerate(primes):
    
    if i == True:
        list_p += [idx]
        
print(list_p)

1001
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

## Palindrome Tester

In [30]:


def is_palindrome( string ):
    
    string = list(string)
    
    copystring = string.copy()
    
    
    pali = []
    
    for i in range(len(string)):
        
        p = string.pop()
        
        pali.append(p)
 
        
    pali = [letter.upper() for letter in pali]
    copystring = [letter.upper() for letter in copystring]
    
    if pali == copystring:
        return True
    
    else:
        return False

In [31]:
is_palindrome('Radar')

True

In [32]:
is_palindrome('TalePjd')

False

In [33]:

def is_palindrome_2( string ):
    
    string = [item.upper() for item in string]
    
    for i in range(len(string)//2):
        
        if string[i] != string[ -1- i]:
            
            return False
            break
        
        else:
            return True

In [36]:
is_palindrome_2('radaR')

True

In [37]:
is_palindrome_2('talepjd')

False

## (Anagrams)

## (Summarizing Letters in a String)

In [2]:

def summarize_letters( string ):
    
    string = [item.upper() for item in string]
    
    lista = []
    
    for i in range(len(string)):
        
        fre = 1
        
        for j in range(len(string)):
            
            if ( i != j and string[i] == string[j] ):
                
                fre += 1
            
        if (string[i], fre) not in lista:
            lista.append((string[i], fre))
            
    
    if len(lista) == 27:
        print('La palabra tiene todas las letras')
        

        
    return lista

In [3]:
summarize_letters('esternocleidomastuideo')

[('E', 4),
 ('S', 2),
 ('T', 2),
 ('R', 1),
 ('N', 1),
 ('O', 3),
 ('C', 1),
 ('L', 1),
 ('I', 2),
 ('D', 2),
 ('M', 1),
 ('A', 1),
 ('U', 1)]

## (Telephone-Number Word Generator)

## (Is a Sequence Sorted?)

In [104]:

def is_ordered( lis_t ):
    
    ordr = sorted(lis_t)
    
    if lis_t == ordr:
        return True
    
    else:
        return False

In [105]:
is_ordered([1, 3, 4, 3, 5, 6, 2, 11, 1])

False

In [106]:
is_ordered([1, 2, 3, 3, 3, 4, 5, 6, 7, 8, 9, 10])

True

In [107]:
is_ordered((1, 3, 4, 2, 5, 7, 8, 11, 4, 2, 1))

False

## (Tuples Representing Invoices)

In [9]:

from decimal import Decimal
from operator import itemgetter


t1 = (83, 'Electric sander', 7, Decimal(57.98))
t2 = (24, 'Power Saw', 18, Decimal(99.99))
t3 = (7, 'Sledge Hammer', 11, Decimal(21.50))
t4 = (77, 'Hammer', 76, Decimal(11.99))
t5 = (39, 'Jig saw', 3, Decimal(79.50))

In [22]:


lst_invoice = [t1, t2, t3, t4, t5]

In [7]:
#By name

sorted_ist = sorted(lst_invoice, key=itemgetter(1))
sorted_ist

[(83,
  'Electric sander',
  7,
  Decimal('57.97999999999999687361196265555918216705322265625')),
 (77,
  'Hammer',
  76,
  Decimal('11.9900000000000002131628207280300557613372802734375')),
 (39, 'Jig saw', 3, Decimal('79.5')),
 (24,
  'Power Saw',
  18,
  Decimal('99.9899999999999948840923025272786617279052734375')),
 (7, 'Sledge Hammer', 11, Decimal('21.5'))]

In [26]:
#By price

sorted_ist = sorted(lst_invoice, key=itemgetter(3))
sorted_ist

[(77,
  'Hammer',
  76,
  Decimal('11.9900000000000002131628207280300557613372802734375')),
 (7, 'Sledge Hammer', 11, Decimal('21.5')),
 (83,
  'Electric sander',
  7,
  Decimal('57.97999999999999687361196265555918216705322265625')),
 (39, 'Jig saw', 3, Decimal('79.5')),
 (24,
  'Power Saw',
  18,
  Decimal('99.9899999999999948840923025272786617279052734375'))]

In [30]:



from decimal import Decimal
from operator import itemgetter

def partdes_cual(lis_t):
    
    return (lis_t[1], lis_t[2])

def partdes_val(lis_t):
    
    return (lis_t[1], lis_t[2] * lis_t[3])


t1 = (83, 'Electric sander', 7, Decimal(57.98))
t2 = (24, 'Power Saw', 18, Decimal(99.99))
t3 = (7, 'Sledge Hammer', 11, Decimal(21.50))
t4 = (77, 'Hammer', 76, Decimal(11.99))
t5 = (39, 'Jig saw', 3, Decimal(79.50))

    
lst_invoice = [t1, t2, t3, t4, t5]


#c
c = list(map(partdes_cual, lst_invoice))
sorted_ist = sorted(c, key=itemgetter(1))
print(sorted_ist)

[('Jig saw', 3), ('Electric sander', 7), ('Sledge Hammer', 11), ('Power Saw', 18), ('Hammer', 76)]

In [31]:

#d
d = list(map(partdes_val, lst_invoice))
sorted_ist = sorted(d, key=itemgetter(1))
print(sorted_ist)

[('Sledge Hammer', Decimal('236.5')), ('Jig saw', Decimal('238.5')), ('Electric sander', Decimal('405.8599999999999781152837386')), ('Hammer', Decimal('911.2400000000000162003743753')), ('Power Saw', Decimal('1799.819999999999907913661445'))]

In [34]:

#e

list(filter(lambda x: 200 <= x[1] <= 500, list(map(partdes_val, lst_invoice))))

[('Electric sander', Decimal('405.8599999999999781152837386')),
 ('Sledge Hammer', Decimal('236.5')),
 ('Jig saw', Decimal('238.5'))]

In [36]:
#f

total = 0

for i in sorted_ist:
    
    total += i[1]

print(total)

3591.919999999999902229319559

## (Sorting Letters and Removing Duplicates)

In [2]:

import random

l_letters = ['a', 'b', 'c', 'd', 'e', 'f']

l_new = []

for i in range(20):
    
    l_new.append(l_letters[random.randrange(0, len(l_letters))])
    
l_new

['c',
 'a',
 'a',
 'e',
 'd',
 'f',
 'f',
 'b',
 'b',
 'e',
 'e',
 'f',
 'c',
 'e',
 'a',
 'a',
 'd',
 'a',
 'e',
 'b']

In [6]:

#a
l_newa = sorted(l_new)
print(l_newa)

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd', 'e', 'e', 'e', 'e', 'e', 'f', 'f', 'f']

In [10]:

#b
l_new.sort(reverse=True)
l_new

['f',
 'f',
 'f',
 'e',
 'e',
 'e',
 'e',
 'e',
 'd',
 'd',
 'c',
 'c',
 'b',
 'b',
 'b',
 'a',
 'a',
 'a',
 'a',
 'a']

In [13]:

#c

for i in l_newa:
    
    if l_newa.count(i) > 1:
        
        for j in range(1, l_newa.count(i)):
            
            l_newa.remove(i)
      
    else:
        continue

l_newa

['a', 'b', 'c', 'd', 'e', 'f']

## (Filter/Map Performance)

In [22]:

def cuadrado(x):
    print('*(map)')
    return x**2

def impar(x):
    
    print('*(fil)')
    
    if x%2 != 0:
        return True
    
    else:
        return False


numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

list(map(lambda x: x**2, 
         filter(lambda x: x%2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [23]:
list(map(cuadrado, 
         filter(impar, numbers)))

*(fil)
*(fil)
*(map)
*(fil)
*(map)
*(fil)
*(map)
*(fil)
*(map)
*(fil)
*(fil)
*(fil)
*(fil)
*(map)
*(fil)

[9, 49, 1, 81, 25]

## (Summing the Triples of the Even Integers from 2 through 10)

In [36]:


lst = list(range(1,11))

fil = list(map(lambda x: x**3 ,filter(lambda x: x%2 == 0, lst)))
sum(fil)

1800

In [37]:

fil = [item**3 for item in range(1, 11) if item%2 == 0]
sum(fil)

1800

## (Finding the People with a Specified Last Name)

In [40]:


def jones(x):
    
    if x[1] == 'Jones':
        return True
    else:
        return False


last_names = [('Jack', 'Dempsie'), ('Maria', 'Jones'), ('Sebastian', 'Quintero'), ('Frank', 'Jones'), ('Tina', 'Jones')]


new_lnames = list(filter(jones, last_names))
new_lnames

[('Maria', 'Jones'), ('Frank', 'Jones'), ('Tina', 'Jones')]

## (Display a Two-Dimensional List in Tabular Format)

In [46]:


x = [[2, 4, 5, 6], 
     [3, 0, -2, 6], [1, 2, 3, 6], [4, -3, 5, 6]]

def display_table(x):
    

    print(' ', end='  ')
    
    for ind in range(0, len(x[1])):
        print(ind, sep='-', end='  ')
    print('\n')

    for row in range(0,len(x)):
    
        print(row, end='  ')
        
        for column in range(0,len(x[row])):
            print(x[row][column], end='  ')
        print('\n')
    
display_table(x)

   0  1  2  3

0  2  4  5  6

1  3  0  -2  6

2  1  2  3  6

3  4  -3  5  6

## (Computer-Assisted Instruction: Reducing Student Fatigue)

In [48]:

import random

def multipli(l):
    '''We generate the numbers'''
    num1 = random.randrange(10*(l-1), 10*l)
    num2 = random.randrange(10*(l-1), 10*l)
    
    return (num1, num2)


def correcto():
    
    num1 = random.randrange(3)
    
    lst_correcto = ['Very Good', 'Nice Work.', 'Keep up the good work.']
    
    print(lst_correcto[num1])
    
        

def incorrecto():
    
    num1 = random.randrange(3)
    
    lst_incorrecto = ['No. Please try again.', 'Wrong. Try once more.', 'No. Keep trying.']
    
    print(lst_incorrecto[num1])


print('Welcome to Computer-Assited Instruction for Levels\n')

l = int(input('Please enter the level of dificulty: 1 or 2\n'))

s = 'c'

while s == 'c':
    
    while l != 1 and l != 2:
        
        l = int(input('Please enter the correct level of dificulty: 1 or 2\n'))

    
    num1, num2 = multipli(l)

    re = int(input(f'How much is {num1} times {num2}?'))

    while re != (num1 * num2):
        
        incorrecto()
        re = int(input(' '))
        
    
    correcto()
    print('\n')
    
    s = input('\nWould you like to play again(c) or n to quit')
    
    if s != 'c':
        break
    
    l = int(input('Please enter level of dificulty: 1 or 2\n'))

print('Thanks for playing\n')

Welcome to Computer-Assited Instruction for Levels

Please enter the level of dificulty: 1 or 2
 2
How much is 14 times 14? 3

Wrong. Try once more.

  4

No. Please try again.

  5

Wrong. Try once more.

  4

No. Keep trying.

  2

No. Please try again.

  3

No. Keep trying.

  4

No. Keep trying.

  1

No. Keep trying.

  1

Wrong. Try once more.

  1

No. Please try again.

  5

No. Please try again.

  166

No. Keep trying.

  154

No. Please try again.

  176

No. Keep trying.

  196

Keep up the good work.

Would you like to play again(c) or n to quit n

Thanks for playing

## (Simulating a Queue with a List)

In [17]:


lst = []

for i in range(3, 0, -1):
    lst.append(i)
    print(lst)
    
for j in range(len(lst)):
    
    lst.pop(0)
    print(lst)

[3]
[3, 2]
[3, 2, 1]
[3, 2, 1]
[2, 1]
[2, 1]
[1]
[1]
[]

## (Functional-Style Programming: Order of filter and map Calls)

In [19]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

list(map(lambda x: x*2, filter(lambda x: x%2 == 0, numbers)))

[20, 8, 4, 16, 12]

In [20]:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

list(filter(lambda x: x*2, map(lambda x: x%2 == 0, numbers)))

[True, True, True, True, True]

In [22]:

list(map(lambda x: x%2 == 0, numbers))

[True, False, False, False, False, True, True, True, False, True]

False